* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

.center-content {
    padding: 0 128px;
}

/* Header */

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: #f9fAf8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

li {
    padding: 0 16px;
}

/* Header end */

/* Main info */



.main-info {
    padding-top: 96px;
    padding-bottom: 96px;
    color: #f9fAf8;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
}

.info-header {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.main-info-text {
    color: #e5e7eb;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-info-pic {
    width: 50%;
}
.main-info-pic img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.main-info-btn {
    width: 125px;
    color: #f9fAf8;
    font-weight: 700;
    padding: 8px 5px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
}

/* Main info end*/

/* Main pics */

.main-pics h3 {
    color: #1f2937;
}

.main-pics {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-pics-content {
    display: flex;

}

.main-pics-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 48px;
}

.main-pics-content-el {
    color: gray;
    margin: 0 24px;
    flex: 1;
}

.el-pic {
    filter: invert(42%) sepia(81%) saturate(2205%) hue-rotate(201deg) brightness(98%) contrast(96%);
    width: 130px;
    height: 130px;
}

/* Main pics end*/

/* Main quote */

.main-quote {
    padding: 100px 256px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight : 300;
    font-style: italic;
    
}

.main-quote-author {
    color: #1f2937;
    align-self: self-end;
    font-weight: 900;
    font-size: 20px;
}

/* Main quote end*/

/* Main sign up */

.main-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-signup-container {

    max-width: 900px;
    max-height: 300px;
    color: #f9fAf8;
    padding: 32px 72px;
    width: 100%;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.main-signup-container h3,.main-signup-container p {
    margin: 0;
}

.main-signup-btn {
    flex-shrink: 0;
    color: #f9fAf8;
    background-color: #3882f6;
    border: 2px solid #f9fAf8;
    border-radius: 6px;
    width: 125px;
    height: 34px;
}

/* Main sign up end */

/* Footer */
.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer end */